{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Все книги</h2>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for book in page_obj %}
        <div class="col">
            <div class="card h-100">
                {% if book.cover %}
                <img src="{{ book.cover.url }}" class="card-img-top" alt="Обложка" style="max-height: 300px; object-fit: contain;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">
                        {% for author in book.authors.all %}
                        <span class="badge bg-secondary mb-1">{{ author }}</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'books:book-detail' book.pk %}" class="btn btn-primary">
                        Подробнее
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    {% include "includes/pagination.html" %}
</div>
{% endblock %}